#!/usr/bin/env python
PACKAGE = "franka_example_controllers"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("translational_stiffness", double_t, 0, "Cartesian translational stiffness", 250, 0, 400)
gen.add("rotational_stiffness", double_t, 0, "Cartesian rotational stiffness", 20.4, 0, 30)
gen.add("nullspace_stiffness", double_t, 0, "Stiffness of the joint space nullspace controller (the desired configuration is the one at startup)", 0, 0, 100)
gen.add("z_stiffness", double_t, 0, "Cartesian z-stiffness (docked)", 200, 0, 400)
gen.add("orientation_x", double_t, 0, "Orientation x", 0.998361, -0.9, 0.9)
gen.add("orientation_y", double_t, 0, "Orientation y", -0.053096, -0.9, 0.9)
gen.add("orientation_z", double_t, 0, "Orientation z", -0.00866312, -0.9, 0.9)
gen.add("orientation_w", double_t, 0, "Orientation w", 0.0193834, -0.9, 0.9)
gen.add("desired_mass", double_t, 0, "desired mass for rendered force due to gravity applied in the z axis", 0.25,  0.0, 2.0)
gen.add("k_p", double_t, 0, "force P gain", 0.3,  0.0, 2.0)
gen.add("k_i", double_t, 0, "force I gain", 1.0,  0.0, 20.0)
gen.add("k_d", double_t, 0, "force D gain", 0.01,  0.0, 0.1)
gen.add("radius", double_t, 0, "radius", 0.11, 0.0, 0.3)
gen.add("velocity", double_t, 0, "velocity", 0.04, 0.0, 0.5)
gen.add("setpoint", double_t, 0, "setpoint", 4.0, 0.0, 5.0)

size_enum = gen.enum([ gen.const("Circle",      int_t, 0, "Draws a circle"),
                       gen.const("Lissajous",   int_t, 1, "Draws an intricate Lissajous figure"),
                       gen.const("Spiral",      int_t, 2, "Makes a beautiful spiral"),
                       gen.const("Square", 	int_t, 3, "Not implemented")],
                     "An enum to select a figure")

gen.add("figure", int_t, 0, "Figure parameter", 1, 0, 3, edit_method=size_enum)

exit(gen.generate(PACKAGE, "dynamic_compliance", "compliance_param"))

